<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/default.css">

</head>

<body>

    <nav>
        <ol>
            <li><a href="/">Televisies</a></li>
            <li><a href="/tweede">Tweede</a></li>
            <li><a href="/auth">Auth</a></li>
            <li><a href="/state">State</a></li>
        </ol>
    </nav>

    @RenderBody()

    <footer>
        &copy; JP ten Berge 2022 | Privacygeneuzel | Disclaimer
    </footer>

</body>

</html>
