

html
    head
        title Beste webapp aller tijden
    body
        h1 Welkom bij deze view 
        p Hier wat tekst

        ul
            each product in products
                li #{product.description} kost #{product.price}
